window#osd, .osd, #container, box, stack {
    background: none !important;
    background-color: rgba(0,0,0,0) !important;
    border: none !important;
    box-shadow: none !important;
}

image#icon {
    color: #f5c2e7 !important;
    background: none !important;
}

progressbar trough {
    background-color: rgba(49, 50, 68, 0.4) !important;
    min-height: 12px;
    border-radius: 6px;
    border: none !important;
}

progressbar progress {
    background-color: #f5c2e7 !important;
    border-radius: 6px;
}
