window#osd, .osd, #container, box, stack {
    background: transparent;
    border: none;
    box-shadow: none;
}

image#icon {
    color: #f5c2e7;
    background: transparent;
}

progressbar trough {
    background-color: rgba(49, 50, 68, 0.4);
    min-height: 12px;
    border-radius: 6px;
    border: none;
}

progressbar progress {
    background-color: #f5c2e7;
    border-radius: 6px;
}
